.projects {
	padding: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.project_grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 1rem;
}

.project_card {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 1.5rem;
	overflow: hidden;
	transition: all 0.3s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.project_card img {
	width: 50%;
	/* height: 0 auto; */
	/* max-width: 400px; */
	/* max-height: 400px; */
	object-fit: fit;
	/* object-position: center 0%; */
	border-radius: 10px;
}

.project_card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.project_text {
	width: 80%;
	margin: 2rem;
}

.project_btn {
	display: block;
	margin: 0 auto;
}
