.project {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	padding: 2rem;
}

.project_card {
	min-height: 650px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}

.project_card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.projects_imgContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
	padding-top: .5rem;
}

.project_card img {
	width: 60%;
	max-width: 180px;
	border-radius: 10px;
}



.project_content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	text-align: center;
}

.project_text {
	line-height: 1.5;
	font-size: 1rem;
}

.project_btn {
	margin-top: auto;
	align-self: center;

}

@media (min-width: 768px) {
	.project {
		grid-template-columns: repeat(3, 1fr);
	}

	.projects_imgContainer {
		height: 220px;
	}

	.project_card img {
		max-height: 100%;
		object-fit: contain;
	}


	.project_content {
		text-align: left;
	}

}
