.card {
	width: 70%;
	background: linear-gradient(210deg, #ffabaf, #fdbe96);
	border-radius: 16px;
	padding: 20px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card:hover {
	transform: translateY(-4px);
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
