/* .navbar {
	width: 100%;
	background-color: rgba(209, 182, 243, 0.9);
	padding: 0.5rem 0;
	position: fixed;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	z-index: 10;
} */

/* .navbar-show {
	top: 0;
}

.navbar-hide {
	top: -60px;
} */

.navbar_container {
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.navbar_name {
	font-size: 1rem;
}

.navbar_links {
	list-style: none;
	display: flex;
	gap: 0.5rem;
}

.navbar_links a {
	text-decoration: none;
	color: var(--text);
}
