.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
}

.skill_bubble {
	width: 5rem;
	margin: 1rem;
	background: #a7abf9;
	color: #fff;
	text-shadow: 0 2px 3px rgb(66, 66, 66);
	padding: 1rem 4rem;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	transition: transform 0.3s ease;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.skill_bubble:hover {
	transform: scale(1.1);
}
