@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
	--backgrund: #fafafa;
	--accent: #c9a7f2;
	--text: #333;
	--darkmode-BG: #121212;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--backgrund);
	color: var(--text);
	font-family: 'Schibsted Grotesk', sans-serif;
}

.dark-mode {
	background-color: var(--darkmode-BG);
	color: var(--backgrund);
}
